# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
.pydevproject
.project
.settings

# virtualenv
/env

# Project
*local_settings.py
/{{ project_name }}/{{ project_name }}/local_settings.py
/{{ project_name }}/local_settings.py
/media
/backups

# SASS
*.sass-cache

*~

